body{
    background-color: rgb(238, 192, 228);
    background-image: url('../assets/bg.png');
}

body{
    height: 100%;
    width: 100%;
    margin:auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.login-box{
     padding:20px;
}

.login-title{
    position: relative;
    bottom:55.5%;
    left:7%;
}

.login-title p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

 .exit{
    position: relative;
    bottom:63%;
    left:82.8%;
} 

 .exit button{
    background-color: transparent;
    border: none;
    color: white;
    font-family:Verdana, sans-serif;
    font-size: 27px;
} 

.exit .button:hover{
    color:black;
}

.chat-area .icon img{
    height: 100px;
    width:100px;
    border-radius: 50%;
    position: relative;
    bottom:440px;
    left:8%;
}

.input-box{
    position: relative;
    bottom:41.5%;
    left:7%;
}
.input-box input[type="text"] {
    background: transparent;
    border: none;
  }
  input[type="text"]:focus{         
    background: transparent;         
    border: none;         
    outline-width: 0;     
} 
.enter {
    position: relative;
    bottom:44%;
    left:79.7%;
}

.enter button{
    background-color: transparent;
    border: none;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.enter .button:hover{
    color:black;
}

